# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Environment Variables
.env

# Django
media/
staticfiles/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite (if ever used)
db.sqlite3

# Python cache
.pytest_cache/